.add-todo {
    & .form {
        display: flex;
        gap: 1rem;

        & input {
            flex: 1;
        }
    }

    & .error {
        text-align: center;
        color: red;

        &:after {
            content: "\200b";
        }
    }
}

.todo-list {
    min-width: 800px;

    & .item {
        display: flex;
        gap: 1rem;
        margin-bottom: 0.5rem;
    }

    & .task {
        flex: 1;
    }

    & button {
        min-width: 9rem;
    }
}
